<ion-content [fullscreen]="true">
  <app-header  title="Reistro" backButton="/login"></app-header>
  <h2 class="ion-text-center ion-no-margin">Nuevo Usuario</h2>
  <div class="content">
      <form class="ion-text-center">
          <app-custom-input [control]="form.controls.name" type="text"  label="Nombre" icon="person-outline" autocomplete="name"></app-custom-input>
          <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.dirty">
            <div *ngIf="form.controls.name.errors?.['required']">El nombre es requerido</div>
            <div *ngIf="form.controls.name.errors?.['minlength']">Nombre tiene que contener mínimo 2 letras</div>
        </div>
          <app-custom-input [control]="form.controls.email" type="email" icon="mail-outline" label="Correo" autocomplete="email"></app-custom-input>
          <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.dirty">
              <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
              <div *ngIf="form.controls.email.errors?.['email']">El correo no es válido</div>
          </div>
          <app-custom-input [control]="form.controls.password" type="password" icon="lock-closed-outline" label="Password"></app-custom-input>
          <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.dirty">
              <div *ngIf="form.controls.password.errors?.['required']">Contraseña es requerida</div>
              <div *ngIf="form.controls.password.errors?.['minlength']">Contraseña debe tener mínimo 8 digitos</div>
          </div>
      
              <ion-button type="submit" [disabled]="!this.form.valid" (click)="onSubmit()">
                Registrate
                <ion-icon slot="end" name="person-add-outline"></ion-icon>
              </ion-button>
          
      </form>
  </div>
</ion-content>
